* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --soft-blue: #6699cc;
  --deep-blue: #256794;
  --teal: #518e99;
  --redwood: #995c51;
  --off-white: #f0f0f0;
  --cool-dark-blue: #0c1232;
  --pastel-blue: rgba(103, 146, 172, 0.8);
  --blush-pink: #e8c7c8;
  --tan: #e8d7c7;
  --light-pink: #e8c7d9;
  --peacoat: #2b2e43;
  --matte-red: rgba(179, 63, 64, 0.8);
}

body {
  margin: 0;
  font-family: "Poppins", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1rem;
  background-color: var(--off-white);
  /* background-image: url("https://storage.googleapis.com/anish-assets/diego-ph-tIL1v1jSoaY-unsplash.jpg");
  background-image: url("https://storage.googleapis.com/anish-assets/ocean_background.jpg"); */
  /* background-image: url("https://storage.googleapis.com/anish-assets/beach_background.jpg"); */
  /* background-image: url("https://storage.googleapis.com/anish-assets/jakub-kriz-4r_tHA3gsUY-unsplash.jpg"); */
  /* background-color: linear-gradient */
  background: linear-gradient(
    var(--matte-red),
    var(--pastel-blue) 35% 55%,
    var(--matte-red)
  );
  background-size: cover;
  background-position: center;
}

a {
  /* text-decoration: none; */
  color: var(--off-white);
}

a:hover {
  color: var(--matte-red);
  transition: all 0.2s ease-in;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.neumorphic {
  outline: none;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
    -6px -6px 10px rgba(255, 255, 255, 0.5),
    6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
}

.landing {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  width: 75%;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 10rem;
  font-size: 1.5rem;
  color: var(--off-white);
  border-radius: 1rem;
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  backdrop-filter: blur(8px);
  background-color: transparent;
  backdrop-filter: blur(8px);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.navbar {
  width: 100%;
  height: 5rem;
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  color: var(--off-white);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000000;
  transition: all 0.2s ease-in;
  backdrop-filter: blur(2px);
}

.navbar-name {
  cursor: pointer;
}

.navbar-about,
.navbar-resume {
  cursor: pointer;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 75%;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  margin-bottom: 10rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.gallery-title {
  grid-column: 1/4;
  text-align: center;
  justify-self: center;
  font-size: 1.5rem;
  color: var(--off-white);
}

.gallery-card {
  position: relative;
  overflow: hidden;
  border-radius: 0.15rem;
  height: 13rem;
  cursor: pointer;
  margin: 2rem;
  color: var(--off-white);
}

.gallery-card__title {
  position: absolute;
  z-index: 100000;
  font-size: 1.5rem;
  font-weight: 700;
  left: 0;
  right: 0;
  top: 40%;
  text-align: center;
  margin: 0 auto;
  width: 85%;
  display: none;
}

.gallery-card:hover {
  transition: all 0.3s ease-in;
  color: var(--peacoat);
}

.gallery-card__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  filter: brightness(0.7) hue-rotate(310deg) blur(0.5px);
}

.gallery-card__img:hover {
  transition: all 0.2s ease-in;
  filter: brightness(1) hue-rotate(0);
}
